body,
html {
  margin: 0;
  padding: 0;
}
.mainContainer {
  background-color: #ffff00;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.title {
  padding-top: 5vh;
  font-family: Verdana;
  font-size: 5vh;
}
.container {
  display: flex;
  flex: 1;
  border-style: solid;
  border-color: red;
}
.container > div {
  flex: 1;
}

.humanSection {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}
.computerSection {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 10vh;
  align-items: center;
}

.humanTextElement {
  font-family: Verdana;
  font-size: 5vh;
  border-radius: 1vh;
  padding: 0.8vh 4vh 0.8vh 4vh;
}
.computerTextElement {
  font-family: Verdana;
  font-size: 5vh;
  border-radius: 1vh;
  padding: 0.8vh 4vh 0.8vh 4vh;
  margin: 0vh 15vh 0vh 18vh;
}

img {
  width: 100px;
  height: 100px;
}

.pc {
  width: 200px;
  height: 200;
}

.stone {
  margin-right: 50px;
}
.paper {
  margin-left: 40px;
}

.computerSide {
  align-self: center;
}
